[Unit]
Description=nomad Agent

[Service]
User=nomad
Group=nomad

Restart=on-failure
RestartSec=20
TimeoutStartSec=0

ExecStart=/usr/bin/nomad agent -config /etc/nomad.d/nomad.json
KillMode=process

[Install]
WantedBy=multi-user.target
